<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Best Tech Blogs, Please Share Your Tech Knowledge.</title>
    <link rel="shortcut icon" href="images//pic_1.png" type="image/x-icon">
    <link rel="stylesheet" href="fontawesome/all.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!--start header-->
    <nav class="navbar navbar-expand-md navbar-light fixed-top">
        <div class="container">
            <a href="" class="navbar-brand" id="tech" title="Home page">Tech</a>
            <button class="navbar-toggler" id="btn" data-target="#myNav" data-toggle="collapse"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="myNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a href="" class="nav-link" id="pro">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link" id="cat">Category</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link" id="reg">Registration</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link" id="login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link" id="logout">Logout</a>
                    </li>                
                </ul>
                <form class="ml-3">
                    <input type="text" class="form-control" placeholder="Search...">
                </form>
            </div>            
        </div>
    </nav>
    <section class="bg-image">
        
    </section>
    <!-- scrolling -->
    <div class="tricker-wrapper">
        <div class="text-update">
            <p>Education leads of life, So share your knowledge without any arrogance</p>
        </div>
    </div>
    <div class="heading">
        <p>Articles</p>
    </div>
    
    <section>
        <div class="container">
            <div class="row mb-4">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card mb-4">
                        <a href=""><img src="images/pic_3.jpg" class="card-img-top" alt="" srcset=""></a>
                        <div class="card-body">
                            <b><a href="">Category</a></b>                            
                            <a href=""><strong>Bangladesh is a nice country so we are happy.</strong></a>
                            <b href=""><a href="">Author</a></b>
                        </div>
                        <div class="card-footer">
                            <b><span>Date</span></b>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card mb-4">
                        <a href=""><img src="images/pic_3.jpg" class="card-img-top" alt="" srcset=""></a>
                        <div class="card-body">
                            <b><a href="">Category</a></b>
                            <a href=""><strong>Bangladesh is a nice country so we are happy.</strong></a>
                            <b href=""><a href="">Author</a></b>
                        </div>
                        <div class="card-footer">
                            <b><span>Date</span></b>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card mb-4">
                        <a href=""><img src="images/pic_3.jpg" class="card-img-top" alt="" srcset=""></a>
                        <div class="card-body">
                            <b><a href="">Category</a></b>
                            <a href=""><strong>Bangladesh is a nice country so we are happy.</strong></a>
                            <b href=""><a href="">Author</a></b>
                        </div>
                        <div class="card-footer">
                            <b><span>Date</span></b>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card mb-4">
                        <a href=""><img src="images/pic_3.jpg" class="card-img-top" alt="" srcset=""></a>
                        <div class="card-body">
                            <b><a href="">Category</a></b>
                            <a href=""><strong>Bangladesh is a nice country so we are happy.</strong></a>
                            <b href=""><a href="">Author</a></b>
                        </div>
                        <div class="card-footer">
                            <b><span>Date</span></b>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </section>
    <!-- pagination -->
    <!-- <section>
        <div class="container">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        {% if articles.has_previous %}
                        <a class="page-link" href="?page={{ articles.previous_page_number }}">Prev</a>
                        {% endif %}
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="">Page {{ articles.number }} of {{ articles.paginator.num_pages }}.</a>
                    </li>
                    <li class="page-item">
                        {% if articles.has_next %}
                        <a class="page-link" href="?page={{ articles.next_page_number }}">Next</a>
                        {% endif %}
                    </li>
                </ul>
            </nav>
        </div>
    </section> -->

    <!-- start footer  -->   
    <section>                   
        <footer class="footer-bg">
            <div class="container" id="footer-container">                
                <small style="color: whitesmoke;">Try to your best</small>                              
                <hr>
                <div class="row">                    
                    <div class="col-lg-8 mt-3 mb-3">                        
                        <h3>SUBSCRIBE OUR NEWSLETTER</h3>                        
                    </div>                    
                    <div class="col-lg-4 mt-3 mb-3">
                        <div class="subscribe-form">                                                        
                            <form action="">                                
                                <input type="email" name="" id="" placeholder="Enter your email">      
                                <button type="submit">Subscribe</button>              
                            </form>
                        </div>
                    </div>
                </div>                     
                <hr>                
                <div class="row social_link">
                    <div class="col-lg-6 mb-3">
                        <i class="fab fa-facebook-square"></i>
                        <i class="fab fa-twitter-square"></i>
                        <i class="fab fa-linkedin"></i>
                        <i class="far fa-envelope"></i>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <h6 style="color: white;">&copy; Copyrights 2021.</h6>
                    </div>
                </div>       
            </div>           
        </footer>    
    </section>
    <!-- end footer  -->    

    
    <script src="js/jquery-slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>